/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-input {
  padding-left: 16px;
  width: 272px;
  height: 40px;
}

.form-input::placeholder {
  color: #808080;
}

.form-btn {
  width: 91px;
  height: 40px;
  background-color: #4E75FF;
  color: #FFF;
  border-radius: 16px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  border: 1px solid #808080;
}

.gallery-img {
  min-width: 360px;
  height: 150px;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-descr {
  display: flex;
  flex-direction: column;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  left:50%;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #808080;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.hidden {
  display: none;
}

